@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Source+Sans+Pro:wght@200;300;400;700&display=swap');

* {
    margin: -0.3px; 
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: -0.5px; 
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem; 
    text-align: justify;
}

code, pre {
    font-size: 0.90rem !important;
}


/* .katex {
    font-size: 1.0em !important; 
} */

