@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Source+Sans+Pro:wght@200;300;400;700&display=swap');


body {
    margin: auto; 
    text-align: justify;
}


p {
    margin: auto; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem; 
}

/* For monospace text */
code, pre {
    font-size: 0.90rem !important;
}
