@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Source+Sans+Pro:wght@200;300;400;700&display=swap');

* {
    margin: -1px;
    padding: 0;
    box-sizing: border-box;
}

/* Make the body take up the full width and height of the viewport */
html, body {
    width: 100%;
    height: 100%;
}


body {
    margin: -1px; 
    text-align: justify;
}


p {
    margin: auto; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem; 
}

/* For monospace text */
code, pre {
    font-size: 0.90rem !important;
}
