/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Sans+Pro:wght@200;300;400;700&display=swap');

/* Apply the fonts to the body and other elements */
body {
    font-weight: 400;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

p {
    font-weight: 300;
    text-align: justify;
    font-size: 1rem;
}

pre, code {
    font-size: 100px;
    font-family: 'SF Mono', 'Roboto Mono', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  }

.button {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.navbar {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}
