p {
    font-size: 0.99rem; 
}
 

/* Adjust font size for code blocks and inline code */
.post pre, .post code {
    font-size: 0.75rem !important;  /* Use !important to ensure this rule is applied */
}

/* Additional specificity if necessary */
.post article pre, .post article code {
    font-size: 0.75rem !important;
}
